* {
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
}

.top-fixed-ribbon {
  width: 100%;
  height: 54px;
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  border: 1px solid #DBDBDB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.top-bar-content {
  max-width: 935px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar-content ion-icon {
  font-size: 28px;
}
.top-bar-content input {
  margin: 0 auto;
  text-align: center;
}

.top-bar_logos {
  margin: 0 auto 0 0;
  display: flex;
  align-items: center;
}
.top-bar_icons {
  margin: 0 0 0 auto;
}

.logo-vert-spacer {
  height: 22px; /* 100%; ??? */
  width: 1px;
  margin: 0 10px 0 10px;
  background-color: #DBDBDB;
}


.main-container {
  width: 935px;
  margin: 88px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.left-column {
  width: 614px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  margin-right: auto;
}

.stories-ribbon {
  width: 100%;
  height: 118px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
  padding: 18px 0 14px 18px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  position: relative;
}

.stories-list {
  width: 100%;
  height: 90px;
  overflow: hidden;
  display: inline-flex;
  background-color: orange;
  justify-content: space-between;
}

.story {
  width: 78px;
  height: 86px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.story-bgframe {
  width: 66px;
  position: absolute;
  top: 0;
  border-radius: 50%;
}
.story .who-avatar {
  width: 56px;
  position: absolute;
  top: 5px;
  border-radius: 50%;
}
.story p {
  width: 78px;
  margin: auto auto 0 auto;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stories-arrow {
  width: 26px;
  height: 26px;
  position: absolute;
  right: 9px;
  top: 40%;
  box-shadow: 0 4px 4px 1px #9E9E9E;
  border-radius: 50%;
}

.post-frame {
  width: 100%;
  height: 749px;
  background-color: #FFFFFF;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  margin: 0 0 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-top {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 18px;
  padding-right: 18px;
}
.post-top .who-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 7.5px 0 17px;
}
.post-top p {
  margin: 0 0 0 7.5px;
}
.post-top ion-icon {
  font-size: 12px;
  margin: 0 0 0 auto;
  color: #262626;
}

.post-img {
  width: 100%;
}

.post-frame video {
  margin: auto;
  width: 100%;
}

.post-bottom {
  width: 100%;
  height: 76px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-icons {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}
.post-icons ion-icon {
  margin: 0 18px 0 0;
}
.post-icons .icon-heart {
  margin-left: 18px;
}
.post-icons .icon-bookmark {
  margin-left: 440px;
}

.post-likes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
}
.post-likes span {
  font-weight: 500;
}
.post-likes img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px 0 18px;
}