* {
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  margin: 54px 0;
  font-family: 'Roboto', sans-serif;
  color: #262626;
  font-weight: 400;
  font-size: 14px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 54px;
  border-bottom: 1px solid #DBDBDB;
  font-size: 22px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.navbar ion-icon, .navbar img {
  cursor: pointer;
}

.navbar .container {
  width: 100%;
  height: 100%;
  max-width: 935px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container > * {
  height: 100%;
  display: flex;
  align-items: center; 
}

.navbar .logo img {
  position: relative;
  top: 3px;
}

.navbar .logo .spacer {
  width: 1px;
  height: 22px;
  margin: 0 10px;
  background-color: #DBDBDB;
}

.navbar .search input {
  width: 215px;
  height: 28px;
  border-radius: 3px;
  background-color: #FAFAFA;
  border: 1px solid #DBDBDB;
  color: #979797;
  text-align: center;
}

.navbar .icons ion-icon {
  margin: 0 5px;
}

.navbar .mobile-icons {
  display: none;
}

.custom-body {
  width: 935px;
  margin: 0 auto;
  margin-top: 88px;
  display: flex;
  justify-content: space-between;  
}

.leftside {
  width: 100%;
  max-width: 614px;
}

.sidebar {
  width: 293px;
}

.stories {
  height: 118px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #DBDBDB;
  padding: 0 18px;
  overflow: hidden;
  position: relative; 
}

.story {
  height: 100%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 14px 0;
  font-size: 12px;
  cursor: pointer;
}

.story .image {
  height: 66px;
  width: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/images/stories_background.jpg');
}

.story .image img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.story .user {
  width: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  height: 14px;
}

/* FALTA A SETINHA !!*/
/*
.stories .arrow {
  position: absolute;
  right: 10px;
  top: 45px;
  height: 32px;
  color: #FFFFFF;
  font-size: 28px;
  cursor: pointer;
}
*/

.post {
  border-radius: 3px;
  border: 1px solid #DBDBDB;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.post .top {
  display: flex;
  justify-content: space-between;
  padding: 13px 16px;
  font-size: 14px;
  font-weight: 500;
}

.post .top .user, .post .top .actions {
  display: flex;
  align-items: center;
}

.post .top img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.post .user, .post .top img, .post .background img, .post ion-icon, .post strong {
  cursor: pointer;
}

.post .content img {
  width: 100%;
}

.post .background .actions {
  display: flex;
  justify-content: space-between;
  padding: 13px 16px;
  font-size: 24px;
}

.post .background .actions div:first-child ion-icon {
  margin-right: 6px;
}

.post .background .likes {
  display: flex;
  align-items: center;
  padding: 0 16px 13px;
  font-weight: 300;
}

.post .background .likes img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.post:last-child {
  margin-bottom: 18px;
}

.sidebar {
  padding-top: 24px;
  position: sticky;
  top: 88px;
}

.sidebar > .user {
  display: flex;
  align-items: center;
}

.sidebar > .user img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar > .user .text {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  font-weight: 300;
  color: #8E8E8E;
}

.sidebar > .user .text strong {
  font-weight: 500;
  color: #262626;
}

.sidebar .suggestions .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 14px;
}

.sidebar .suggestions .suggestion {
  height: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 16px;
}

.sidebar .suggestions .suggestion .user {
  display: flex;
}

.sidebar .suggestions img {
  width: 32px;
  height: 32px;
}

.sidebar .suggestions .follow {
  color: #139EF2;
  font-weight: 600;
}

.sidebar .suggestions .suggestion .user .text :last-child {
  color: #8E8E8E;
  font-weight: 400;
}

.links, .copyright {
  font-size: 11px;
  color: #C7C7C7;
}

.links {
  margin-top: 40px;
  cursor: pointer;
}

.copyright {
  margin-top: 18px;
}

.mobile-background {
  display: none;
}

.mobile-background ion-icon {
  cursor: pointer;
}

.logo-mobile, .instagram-mobile {
  display: none !important;
}

@media (max-width: 935px) {
  .sidebar {
    display: none;
  }

  .navbar .container {
    padding: 0 20px;
  }

  .custom-body {
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 614px) {
  .custom-body {
    margin-top: 0;
  }

  .post {
    width: 100%;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }

  .post:last-child {
    margin-bottom: 72px;
  }

  .stories {
    background-color: transparent;
    border: none;
    width: 100%;
  }

  .post:first-child {
    margin-top: 0;
  }

  .navbar .search {
    display: none;
  }

  .navbar .icons {
    display: none;
  }

  .navbar .mobile-icons {
    display: flex;
  }

  .mobile-background {
    height: 54px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
  }

  .navbar .logo {
    display: none;
  }

  .logo-mobile, .instagram-mobile {
    display: flex !important;
  }

  .instagram-mobile {
    position: relative;
    top: 4px;
  }
}